* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background: rgba(255, 255, 255, 0.8);
    color: #007D8A;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: sticky;
    top: 0;
    z-index: 1000;
}

.motto {
    display: flex;
    justify-content: flex-end;
}

.navbar {
    flex: 2; 
    display: flex;
    justify-content: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px; 
}

.navbar li a {
    display: block;
    color: #007D8A;
    text-decoration: none;
    font-weight: bold;
    padding: 14px 16px;
    border: 1px solid transparent;
    border-radius: 3px;
    white-space: nowrap;
}

.navbar li a:hover {
    background-color: #f2ecec;
    cursor: pointer;
}


.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.hero-vid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero-txt {
    background: rgba(255, 255, 255, 0.8);
    padding: 2rem 4rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

.hero-txt h2 {
    margin: 0;
    font-size: 2.5rem;
}

.motto {
    margin-left: auto;
    font-style: italic;
    font-size: 1.2rem;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.motto h3 mark {
    background-color: #007D8A;
    color: white;
    text-shadow: 1px 1px 2px black;
    border-radius: 1em 0;
    padding: .5rem;
}

footer {
    background-color: white;
    color: #007D8A;
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
    align-items: center;
    gap: 30px;
}

footer nav {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
}

footer p {
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
    font-size: small;
}

footer nav a {
    color: #007D8A;
    text-decoration: none;
    margin: 0 1rem;
}

footer nav a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.cta {
    position: relative;
    width: 100%;
    height: 80vh;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.cta-img {
    position: absolute;
    inset: 0;
    object-fit: cover;
    z-index: -1;
    width: 100%;
    height: 100%;
    
}

.cta-txt {
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    padding: 2rem 4rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.why {
    
    padding: 2rem;
    display: flex;
    background: #FAFAF5;
    
}


.why-text {
    margin-left: 30px;
    font-size: 1.2rem;
    line-height: 1.6;
}

.why-text h2 {
    margin-bottom: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5rem;
    text-align: center;
}

.why-text p {
    margin-bottom: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.8;
    max-width: 90%;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    padding: 2rem;
    background: #FAFAF5;
}

figcaption {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 1rem;
    background-color: #007D8A;
    border-radius: 12px;
    padding: 2px;
    color: white;
}

figure {
    border: 5px solid #007D8A;
    padding: 5px;
    margin: auto;
    border-radius: 5px;
}

.button {
    background-color: #007D8A;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.button:hover {
    background-color: #005f66;
    cursor: pointer;
}

h1 {
    text-align: center;
    margin: 2rem 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content-text {
    margin-top: 1rem;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.8;
    max-width: 90%;
    margin-left: 2rem;
    margin-right: 2rem;
}

.content {
    display: flex;
    align-items: center;
    margin: 2rem;
    background-color: #FAFAF5;
    
}

.content-text ul {
    text-align: left;
    list-style: none;
    margin-left: 20px;
}

.form form {
    width: 400px;
    margin: 40px auto;
    padding: 16px;
    border: 3px solid #007D8A;
    

}

.form label {
    display: block;
    margin-top: 10px;
}

.form select, .form input, .form button {
    width: 100%;
    padding: 6px;
    margin-top: 4px;
    box-sizing: border-box;
    margin-top: 5px;
}

.form textarea {
    width: 100%;
    height: 100px;
    padding: 6px;
    margin-top: 4px;
    box-sizing: border-box;
    margin-top: 5px;
}